.form {
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 440px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.03)
}


.sub {
    text-align: center;
    color: black;
    font-size: 14px;
    width: 100%;
}

.input,
button {
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 10px;
    background-color: rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015), 100px 100px 80px rgba(0, 0, 0, 0.03);
}

button {
    margin-top: 12px;
    background-color: rgb(23, 111, 211);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}


#file {
    display: none;
}
h3{
    font-family: 'Oswald', sans-serif;

}
p{
    font-size: 20px;
}
/* -------------main--------------- */

.main {
    height: 25rem;
    width: 900px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.login_image {
    background-size: cover;
    justify-content: center;
    text-align: center;
}

img {
    width: 35%;
    height: 30%;
}

.maindiv {
    display: flex;
    justify-content: center;
}

/* ------------fun------------- */

